* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-soft-red: hsl(7, 99%, 70%);
  --primary-yellow: hsl(51, 100%, 49%);
  --primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --primary-dark-blue: hsl(198, 62%, 26%);
  --primary-dark-moderate-cyan: hsl(168, 34%, 41%);

  --neutral-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
  --neutral-grayish-blue: hsl(210, 4%, 67%);
  --neutral-white: hsl(0, 0%, 100%);

  --paragraph-font: "Barlow", sans-serif;
  --title-font: "Fraunces", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 600;
  font-size: 18px;
  font-family: var(--paragraph-font);
}
