* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-soft-red: hsl(7, 99%, 70%);
  --primary-yellow: hsl(51, 100%, 49%);
  --primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --primary-dark-blue: hsl(198, 62%, 26%);
  --primary-dark-moderate-cyan: hsl(166, 44%, 32%);
  --primary-footer: hsl(167, 44%, 70%);

  --neutral-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
  --neutral-grayish-blue: hsl(210, 4%, 67%);
  --neutral-white: hsl(0, 0%, 100%);

  --paragraph-font: "Barlow", sans-serif;
  --title-font: "Fraunces", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--paragraph-font);
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 30em;
  padding: 2em;
  background-image: url(./images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  width: 100%;
  margin-bottom: 2em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.nav__item {
  display: block;
}

.nav__link {
  font-family: inherit;
  font-weight: inherit;
  color: var(--neutral-white);
  text-decoration: none;
}

.nav__link--bg {
  padding: 1em 1.2em;
  background-color: var(--neutral-white);
  border-radius: 2em;
  color: var(--neutral-very-dark-desaturated-blue);
  text-transform: uppercase;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 0.9em;
  transition: 0.5s;
}

.nav__link--bg:hover {
  background-color: hsla(0, 0%, 100%, 0.246);
  color: var(--neutral-white);
}

.header__title {
  margin: 1em 0;
  color: var(--neutral-white);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 7px;
  font-family: var(--title-font);
  font-size: 2.5em;
  font-weight: 900;
}

.main {
  width: 100%;
}

.section {
  width: 100%;
  height: 33em;
  display: flex;
  justify-content: center;
}

.info {
  width: 50%;
  padding: 7.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.info__subtitle {
  padding-right: 1.5em;
  color: var(--neutral-very-dark-desaturated-blue);
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 2em;
}

.info__paragraph {
  color: var(--neutral-very-dark-grayish-blue);
  line-height: 1.5;
}

.info__more {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  color: var(--neutral-very-dark-desaturated-blue);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1em;
}

.info__more::after {
  content: " ";
  position: absolute;
  z-index: -1;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 0.5em;
  border-radius: 10px;
  background-color: hsla(51, 100%, 49%, 0.5);
  transition: 0.5s;
}

.info__more:hover::after {
  background-color: var(--primary-yellow);
}

.info__more--red::after {
  content: " ";
  background-color: hsla(7, 99%, 70%, 0.5);
}

.info__more--red:hover::after {
  background-color: var(--primary-soft-red);
}

.section__img {
  width: 50%;
  object-fit: cover;
}

.info--center {
  padding: 3em 7.5em;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  align-items: center;
  justify-content: end;
}

.info__subtitle--size {
  padding: 0;
  color: inherit;
  text-align: center;
  font-size: 1.5em;
}

.info__paragraph--center {
  padding: 0 1.5em;
  color: inherit;
  text-align: center;
}

.info--cherries {
  color: var(--primary-dark-desaturated-cyan);
  background-image: url(./images/desktop/image-graphic-design.jpg);
}

.info--orange {
  color: var(--primary-dark-blue);
  background-image: url(./images/desktop/image-photography.jpg);
}

.section--direction {
  height: auto;
  padding: 7.5em;
  background-color: var(--neutral-white);

  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.info__subtitle--transform {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 7px;
  color: var(--neutral-grayish-blue);
  font-size: 1.2em;
}

.articles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.article__img {
  width: 5em;
  border-radius: 50%;
}

.article__paragraph {
  padding: 0 0.5em;
  color: var(--neutral-very-dark-grayish-blue);
  text-align: center;
  line-height: 1.5;
  font-family: var(--paragraph-font);
  font-size: 1em;
  font-weight: 600;
}

.article__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.article__name {
  color: var(--neutral-very-dark-desaturated-blue);
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 1em;
}

.article__job {
  color: var(--neutral-grayish-blue);
  font-size: 0.8em;
}

.images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images__img {
  width: 25%;
  border: none;
}

.footer {
  width: 100%;
  padding: 3em;
  background-color: var(--primary-footer);
  color: var(--primary-dark-moderate-cyan);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  fill: var(--primary-dark-moderate-cyan);
}

.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.footer__item {
  margin: 2em 0;
}

.footer__link {
  color: inherit;
  text-align: center;
  text-decoration: none;
  font-family: var(--paragraph-font);
  transition: 0.5s;
  display: block;
}

.footer__link:hover {
  color: var(--neutral-white);
  fill: var(--neutral-white);
}

.footer__attribution > a {
  color: var(--neutral-white);
  text-decoration: none;
}

.footer__attribution > a:hover {
  text-decoration: underline;
}
